/* Landing page images */

.landing {
  margin: 10% 20%;
}

@media screen and (max-width: 599px) {
  .landing {
    margin: 0 1em;
  }
}

.landing img {
  display: block;
  margin: 1em auto;
  max-height: 350px;
  max-width: 350px;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid gray;
}

@media screen and (max-width: 599px) {
  img {
    max-width: 250px;
  }  
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  img {
    max-width: 350px;
  }  
}

@media screen and (min-width: 1024px) {
  .landing img {
    display: flex;
  }
}

.landing h1, h2 {
  margin-top: 2em;
  text-align: center;
}

.landing button {
  display: block;
  margin: 0 auto;
}

footer {
  margin-top: 1em;
  text-align: center;
  padding: 1% 0;
  background-color: #aaa;
}
