/* Landing page images */

.landing {
  margin: 15%;
}

@media screen and (max-width: 599px) {
  .landing {
    margin: 0 1em;
  }
}

.landing img {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 599px) {
  img {
    max-width: 250px;
  }  
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  img {
    max-width: 350px;
  }  
}

.landing h1, h2 {
  text-align: center;
}

.landing button {
  display: block;
  margin: 0 auto;
}

footer {
  margin-top: 1em;
  text-align: center;
  padding: 1% 0;
  background-color: #aaa;
}
