.summary-entries header {
  padding: .5em;
  margin: 0;
  cursor: pointer;
}

.summary-entries .snapshot {
  display: flex;
  justify-content: center;
}

.summary-entries .snapshot p {
  margin: 0 .5em;
}

.summary-entries section {
  background-color: rgb(230, 230, 230);
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
}

.summary-entries section:hover {
  box-shadow: 0px 7px 11px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.summary-entries__buttons {
  display: flex;
  justify-content: flex-end;
}

.summary-entries__buttons button {
  margin-top: .5em;
  margin-right: 1em;
  text-align: right;
}


.collapse {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all .4s ease;
}

.expand {
  max-height: 1000px;
  visibility: visible;
  margin-left: 2em
}

.summary-entries__buttons-delete {
  background-color: red;
}

.summary-entries__buttons-delete {
	box-shadow: 0px 0px 0px 2px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:10px;
	border:1px solid #d83526;
	cursor:pointer;
	color:#ffffff;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.summary-entries__buttons-delete:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}

.summary-entries__buttons-delete:active {
	position:relative;
	top:1px;
}
