.summary-filters__controls {
  display: flex;
  flex-direction: column;
}

.summary-filters__controls label {
  margin: 0em .5em 1em 0em;
}

.summary-filters__search {
  border: 1px solid black;
  padding: 1em;
}

.summary-filters__search input {
  max-width: 120px;
  margin-right: 1em;
}

.summary-filters__search label {
  margin-right: 0;
}

.summary-filters__filters {
  display: block;
  margin-top: 1em;
  border: 1px black solid;
  padding: 1em;
}

.summary-filters__filters label {
  display: inline-block;
}

