.summary-entries header {
  padding: .5em;
  margin: 0;
  cursor: pointer;
}

.summary-entries .snapshot {
  display: flex;
  justify-content: center;
}

.summary-entries .snapshot p {
  margin: 0 .5em;
}

.summary-entries section {
  background-color: rgb(230, 230, 230);
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
}

.summary-entries section:hover {
  box-shadow: 0px 7px 11px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}


.summary-entries__buttons {
  display: flex;
  justify-content: flex-end;
}

.summary-entries__buttons button {
  margin-top: .5em;
  margin-right: .5em;
  text-align: right;
}

.collapse {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all .3s ease;
}

.expand {
  max-height: 1000px;
  visibility: visible;
}