/* Summary */

.summary-entries {
  margin: 0 1em; 
}

@media all and (min-width: 450px) {
  .summary-entries {
    width: 70%;
    margin: 0 auto;
  }
}

@media all and (min-width: 900px) {
  .summary-entries {
    width: 50%;
    margin: 0 auto;
  }
}

.summary-stats {
  margin: 0 1em; 
}

.summary-stats h1, h2, h3 {
  text-align: center;
}

.summary-stats header {
  padding: .5em;
  margin: 0;
}

.summary-stats img {
  display: block;
  margin: 1em auto;
}

.summary-stats__pr {
  background-color: rgb(230, 230, 230);
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
}

.summary-stats ul {
  background-color: rgb(245, 243, 243);
  border-radius: 5px;
  padding: 1em;
  list-style-type: none;
}

.summary-stats__badges {
  display: flex;
  justify-content: center;
}

.summary-stats__badges img {
  margin: 0 .25em;
  border-radius: 10px;
}